name: Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    container:
      image: ghcr.io/sorah-rbpkg/ruby:${{ matrix.ruby }}-dev-trixie
    strategy:
      matrix:
        ruby:
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: vendor/bundle
          key: bundle-${{ matrix.ruby }}-${{ hashFiles('Gemfile', 'Gemfile.lock', 'xaes256gcm.gemspec') }}
          restore-keys: bundle-${{ matrix.ruby }}-
      - run: bundle install --path vendor/bundle
      - run: bundle exec rake
